body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

h2, h3 {
    color: #0066cc;
    background-color: #f4f4f4; /* Background color for the shade */
    padding-bottom: 5px; /* Adjust the padding as needed */
    border-bottom: 2px solid #0066cc; /* Added border-bottom for headings */
}

p {
    color: #666;
}

a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    animation: blink 2s infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}


a:hover {
    text-decoration: underline;
    animation: none;
}


ol, ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}
